body {
    background:url(scale_1200.jpg)no-repeat;
    background-size: 100%;
}
header {
    color: gold;
    font-size: xx-large;
    text-align: center;
    word-spacing: 6px;
    position: relative; top: 70px;
}
nav {
    text-align: right;
    position: relative; bottom: 210px;
}
.new {
    background: black;
    padding: 20px;
    color:gold;
    border-radius: 9px;
    border: 4px solid; color :gold;
    float: right;
   }
   iframe {
    position: absolute;
    top: 30%;   
   }
   footer {
    margin-left: 400px;
    margin-top: 400px;
    mix-blend-mode:multiply;
   }